<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
</div>

<div class="row">
   <div class="col-lg-3 col-md-6">
       <div class="panel panel-primary">
           <div class="panel-heading">
               <div class="row">
                   <div class="col-xs-3">
                       <i class="fa fa-comments fa-5x"></i>
                   </div>
                   <div class="col-xs-9 text-right">
                       <div class="huge">10</div>
                       <div>Mitarbeiter</div>
                   </div>
               </div>
           </div>
           <a href="#!/user">
               <div class="panel-footer">
                   <span class="pull-left">Gehe zu Mitarbeiter&uuml;bersicht</span>
                   <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                   <div class="clearfix"></div>
               </div>
           </a>
       </div>
   </div>
   <div class="col-lg-3 col-md-6">
      <div class="panel panel-red">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-shopping-cart fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge">{{$ctrl.CountSupplier}}</div>
                      <div>Lieferanten</div>
                  </div>
              </div>
          </div>
          <a href="#!/supplier">
              <div class="panel-footer">
                  <span class="pull-left">Gehe zu Lieferanten&uuml;bersicht</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>
   <div class="col-lg-3 col-md-6">
       <div class="panel panel-green">
           <div class="panel-heading">
               <div class="row">
                   <div class="col-xs-3">
                       <i class="fa fa-bar-chart fa-5x"></i>
                   </div>
                   <div class="col-xs-9 text-right">
                       <div class="huge">{{$ctrl.CountRating}}</div>
                       <div>Bewertungen</div>
                   </div>
               </div>
           </div>
           <a href="#!/supplier">
               <div class="panel-footer">
                   <span class="pull-left">Gehe zu Lieferanten&uuml;bersicht</span>
                   <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                   <div class="clearfix"></div>
               </div>
           </a>
       </div>
   </div>
   <div class="col-lg-3 col-md-6">
       <div class="panel panel-yellow">
           <div class="panel-heading">
               <div class="row">
                   <div class="col-xs-3">
                       <i class="fa fa-tasks fa-5x"></i>
                   </div>
                   <div class="col-xs-9 text-right">
                       <div class="huge">{{$ctrl.CountRating}}</div>
                       <div>Ma&beta;nahmenkatalog</div>
                   </div>
               </div>
           </div>
           <a href="#!/measure">
               <div class="panel-footer">
                   <span class="pull-left">Gehe zum Ma&beta;nahmenkatalog</span>
                   <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                   <div class="clearfix"></div>
               </div>
           </a>
       </div>
   </div>
</div>